.home{
    background: url("bgImg.png");
    background-repeat: no-repeat;
    transition: 1s;
    color:rgb(255, 255, 255);
    box-sizing: border-box;
    height: 60vh;
    background-size: cover;
}


.txt{
    text-align: center;
    margin-top: 120px;
 }

 .cards{
    padding: 5px;
    transition: .5s;
}
.cards:hover{
    transform: translateY(-10px);

}
.contactCard:hover{
        transform: translateY(0)

}
.card-cont{
    margin-top: 10px;
    margin-left:10px;
}
.card-title{
    line-height: 50px;
}

.read{
    line-height: 50px;
}
.buy-btn{
    float: right;
    margin-top: -105px;
    width:70px;
    border-radius: 4px;
}

.cart-btn{
    float: right;
    margin-top: -25em;
    width:50px;
    border-radius: 4px;
    border: 1px solid black;
}

.a-head{
    font-weight: bolder;
    text-align: center;
    margin: 30px;
}

.a-card{
    line-height: 35px;
}

.card-ach{
    padding: 10px;
    text-align: center;
    margin: 10px;
}